label.label input[type="file"] {
  position: absolute;
  top: -1000px;
}
.label {
  cursor: pointer;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 5px;
  background: #fb923c;
  display: inline-block;
}
.label:hover {
  background: #f97316;
}
.label:active {
  background: #fdba74;
}
.label:invalid+span {
  color: #000000;
}
.label:valid+span {
  color: #ffffff;
}